<!-- <ng-container [formGroup]="form"> -->
    <fieldset formGroupName="deliveryAddress">
        <legend>Delivery Address</legend>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm"
            >Zip Code</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            formControlName="zipCode"
          />
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm"
            >Street</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            formControlName="street"
          />
        </div>
      </fieldset>
<!-- </ng-container> -->
