<div class="container">
  <div class="card">
    <div class="card-body">
      <form  [formGroup]="form" (ngSubmit)="submit()">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm"
            >Display Name</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            formControlName="displayName"
          />
        </div>
        <app-address-group label="Delivery Address"  controlKey="deliveryAddress"></app-address-group>
        <app-address-group label="Biiling Address"  controlKey="billingAddress"></app-address-group>
        <button class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>
